<!--client-form.vtl-->
<p>Add a new client:</p>

<form action="/clients" method="post">
  <label for="name">name</label>
  <input id="name" name="name" type="text">
  <label for="note">Note</label>
  <input id="note" name="note" type="text">

  <button type="submit" class="btn btn-default">Add client</button>
</form>
<!--client-form.vtl-->
