<!--client-form.vtl-->
<p>Add a new client:</p>

<form action="/clients" method="post">
  <label for="name">name</label>
  <input id="name" name="name" type="text">
  <label for="details">Details</label>
  <input id="details" name="details" type="text">

  <button type="submit" class="btn btn-primary">Add client</button>
</form>
<!--client-form.vtl-->
