<!--client-form.vtl-->
<p>Add a new client:</p>

<form action="/clients" method="post">
  <label for="name">Name</label>
  <input id="name" name="name" type="text">
  <label for="detail">Details</label>
  <input id="detail" name="detail" type="text">

  <button type="submit" class="btn btn-primary">Add client</button>
</form>
<!--client-form.vtl-->
